body {
    width: 100%; margin: 0 auto;
    font-family: 'Nanum Gothic', sans-serif;
}
/* header */
#logo img {padding: 0 0 0 50px; width: 180px; float: left;}
nav {background: black; height: 100px;}
/* index */
.slider ul, li {list-style: none;}
.slider ul li img {height: 600px; object-fit: fill;}
.slider {height: 600px; overflow: hidden; position: relative;}
.slider li {position: absolute; left: 0; right: 0; top: 0; bottom: 0; opacity: 0; transition: 1s;}
.slider input[type=radio] {display: none;}
.slider .bullet {position: absolute; left: 48%; bottom: 20px; z-index: 10;}
.slider .bullet label {width: 13px; height: 13px; border-radius: 10px; border: 2px solid #fff; display: inline-block; font-size: 0; transition: 0.5s; cursor: pointer;}
#slide1:checked ~ ul li:nth-child(1), 
#slide2:checked ~ ul li:nth-child(2),
#slide3:checked ~ ul li:nth-child(3), 
#slide4:checked ~ ul li:nth-child(4) {opacity: 1;}
#slide1:checked ~ .bullet label:nth-child(1), 
#slide2:checked ~ .bullet label:nth-child(2),	
#slide3:checked ~ .bullet label:nth-child(3), 
#slide4:checked ~ .bullet label:nth-child(4) {background: #fff;}
.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
    opacity: 1;
    transition: 1s;
    z-index: 1;
}
.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
    opacity: 1;
    transition: 1s;
    z-index: 1;
}
.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
    opacity: 1;
    transition: 1s;
    z-index: 1;
}
.slider input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(4){
    opacity: 1;
    transition: 1s;
    z-index: 1;
}
ul.imgs li{
    position: absolute;
    opacity: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    transition-delay: 0.9s; /* 트랜지션 지연 시간 지정 */
}
section {clear: both; width: 940px; padding: 10px 0; margin: 0 auto;}
section h3, section p {margin: 10px auto;}
section h1 {font-size: 30px; margin: 35px 0 10px;}
section ul {
    margin: 0 auto;
    padding: 0;
    width: 775px;
    list-style: none;
}
/* footer */
footer {
    clear: both; 
    padding: 85px;
    background: black; 
    color: rgba(255, 255, 255, 0.6); 
    text-align: center; 
    margin: 50px auto 0;
    bottom: 0;
    height: 200px;
    font-size: 20px;
}
footer p {margin: 40px;}
/* login */
.login form {width: 350px; margin: 60px auto;}
.login form fieldset legend {color: #171717; text-align: center; font-weight: bold; font-size: 30px}
.login button {width: 100%; box-sizing: border-box; padding: 10px; margin-top: 20px;}
.login label {font-size: 14px;}
.login a {width: 100%;}
#returnId {text-align: center;}
/*  */
.find {padding: 0 50px; margin: 20px auto;}
.find a {text-decoration: none; font-size: 12px;}
.findId {padding: 0 89px; margin: 20px auto;}
.findId a {text-decoration: none; font-size: 12px;}
.findPwd {padding: 0 89px; margin: 20px auto;}
.findPwd a {text-decoration: none; font-size: 12px;}
/* gallery */
.glist img {width:300px; height: 300px; object-fit: cover;}
.glist a {color: #1a1a1a; text-decoration: none;}
.gdetail table {width: 50%; margin: 40px auto; border-collapse: collapse;}
.gdetail td {padding: 8px; border-top: 3px solid #bbb; border-bottom: 3px solid #bbb;}
.gdetail td + td {width: 15%;}
#gallery3 {height: 300px; vertical-align: top; white-space: pre-line; text-align: center;}
#galleryImg {width: 85%;}
.container {margin: 100px auto;}
/* board */
.detail table {width: 60%; margin: 40px auto; border-collapse: collapse;}
.detail td {padding: 8px; border-top: 1px solid #bbb; border-bottom: 1px solid #bbb;}
.detail td + td {width: 15%;}
.detail tr:nth-child(3) td {height: 300px; vertical-align: top; white-space: pre-line;}
.detail p {margin: 10px 0;}
.detail p a {border: 1px solid #ccc; border-radius: 5px; padding: 5px 10px 8px; text-decoration: none;}
.detail p a:hover {background: #ccc; color: #fff;}
.list table {width: 60%; margin: 100px auto; border-collapse: collapse; text-align: center;}
.list th, .list td {padding: 8px; font-size: 15px;}
.list td {text-align: center; width: 12%}
.list td + td {text-align: left; width: 60%;}
.list td + td + td {text-align: center; width: 13%}
.write table {width: 60%; margin: 40px auto; border-collapse: collapse;}
.write td {padding: 8px; border-top: 1px solid #bbb; border-bottom: 1px solid #bbb;}
.write td input {width: 100%;}
.write textarea {width: 100%; height: 300px;}
/*  */
#contentM, #contentR {resize: none;}
